.section{padding: 1%}
.container{padding: .5%}
.row{padding:.5%}
.container
{
width:80% !important;
}
.CarouselImg
{

margin:auto;
border: 0;
-ms-interpolation-mode: bicubic;
}
.cr-header
{
 color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/*
#musicQ
{
padding-top: 45%; 
vertical-align: middle;
}
*/



body, html {
    height: 100%;
}

/*
@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}
*/



h1 {
	font-size: calc(3vw + 3vh + 1vmin);
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


.navbar-toggle .icon-bar{ background-color: green;}

